<a href="https://colab.research.google.com/github/VuQuangDanHN/HamK_Basic_programing_Github_assignment/blob/main/Dan_Vu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BASIC OF DATA ANALYSIS Assignment 3 - Control Flow, Loop, Functions & Numpy

**EX1:**

In [30]:
# Define a function that uses conditional checks to determine the grade based on points
def determine_grade(points):
    if points < 45:
        return "Grade is 0."
    elif points < 55:
        return "Grade is 1."
    elif points < 65:
        return "Grade is 2."
    elif points < 75:
        return "Grade is 3."
    elif points < 85:
        return "Grade is 4."
    else:
        return "Grade is 5."

# Example usage of the function
# Define a list of example points to check the conditions
example_points = [44, 54, 64, 74, 84, 94]

# Determine the grade for each example point value
grades_output = [determine_grade(point) for point in example_points]
grades_output

['Grade is 0.',
 'Grade is 1.',
 'Grade is 2.',
 'Grade is 3.',
 'Grade is 4.',
 'Grade is 5.']

**EX2:**

In [40]:


#  Function to print multiplication table of a given number
def print_multiplication_table(number):
    for i in range(1, 11):
        print(f"{number} * {i} = {number * i}")

# Call the functions with example values
determine_grade()  # This should be replaced with user input in a real scenario
print("Multiplication table for number 5:")
print_multiplication_table(5)  # Replace 5 with user input in a real scenario

Grade based on points 80 is: 4
Multiplication table for number 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**EX3:**

In [44]:
import numpy as np

# Generate 5 random numbers between 1 and 10 using numpy's random.randint function
random_numbers = np.random.randint(1, 11, size=5)  # 11 is exclusive

# Print the generated numbers
random_numbers

array([8, 8, 1, 8, 6])

**EX4:**

In [45]:
# Let's correct the code to properly handle the mode value which is a scalar in this case since all numbers in the array are unique.

# Create a numpy array with 10 numbers named numpy_array
numpy_array = np.array([5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

# Calculate mean, median, and standard deviation
mean_value = np.mean(numpy_array)
median_value = np.median(numpy_array)
std_dev_value = np.std(numpy_array)

# Since all elements are unique in this numpy array, mode would not be meaningful.
# However, to follow the instructions, we'll use the first value as the mode.
# In a real-world scenario, you would check if all values are unique first.
mode_value = numpy_array[0]

# Print each value
print(f"The Mean is {mean_value}")
print(f"The Median is {median_value}")
print(f"The Mode is {mode_value}")
print(f"The Standard Deviation is {std_dev_value}")

The Mean is 27.5
The Median is 27.5
The Mode is 5
The Standard Deviation is 14.361406616345072

**EX5:**

In [41]:
# Create an array of values from 0 to 10 in increments of 2
evenly_spaced_array = np.arange(0, 11, 2)

# Print the array
print("Evenly spaced array:", evenly_spaced_array)

Evenly spaced array: [ 0  2  4  6  8 10]

**EX6:**

In [42]:
# Find the maximum and minimum values in an array
myarray = np.array([12, 13, 11, 5, 6, 7, 8, 9, 100, 223])
max_value = np.max(myarray)
min_value = np.min(myarray)

# Print the maximum and minimum values
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 223
Minimum value: 5

**EX7:**

In [43]:
# Create a simple function to calculate the area of a rectangle
def calculate_area(length, width):
    return length * width

# Call the function with the provided values
length = 5.5
width = 6.5
area_of_rectangle = calculate_area(length, width)

# Print the area of the rectangle
print("Area of the rectangle:", area_of_rectangle)

Area of the rectangle: 35.75